* {
  box-sizing: border-box;
  font-family: "National Park", sans-serif;
  font-weight: bold;
  margin: 0;
  /* Body tem padding por padão, nisso, adiciona um scroll */
  padding: 0;
}

body {
  background-color: cyan;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-rows: minmax(120px, auto) repeat(5, 90px);
  grid-template-columns: repeat(4, 90px);
}

.grid-container > button {
  cursor: pointer;
  font-size: 35px;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  background-color: black;
  color: rgb(255, 255, 255);
}

.grid-container > .operator {
  background-color: red;
}

.span-two {
  grid-column: span 2;
}

.grid-container > .output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: rgb(7, 7, 7);
}

.grid-container > .output > .previous-operand {
  color: rgb(255, 255, 255, 0.6);
  font-size: 20px;
}

.grid-container > .output > .current-operand {
  color: white;
  font-size: 35px;
}
